<h1>Home</h1>
<<<<<<< HEAD
<p>Login or sign up to access different features with politicians!</p>
=======
<p>Login or sign up to access different features with politicians!</p>

<%= link_to "View Politicians",politicians_path%>
>>>>>>> search_bar
