  <body style="background-color: #1abc9c">
       <font size="3" face="verdana" color="white">
           <center><%= image_tag("SiteLogo.png", height: '350', width: '1069') %></center>
     <center><h1>Home</h1>
<p>You are signed in.</p>

<%= link_to "All Politicians",politicians_path%>
<strong>Favorite Politicians:</strong>


</center>
</font>
